<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../static/css/cv.css">
    </head>
    <body>
 <!--background="../static/img/cv/cvBackground.jpg"-->
        <!-- multistep form -->
        <form id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active">Account Setup</li>
            <li>Social Profiles</li>
            <li>Personal Details</li>
          </ul>
          <!-- fieldsets -->
          <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">Step 1</h3>
            <input type="text" id="name" placeholder="Name" required/>
            <input type="number" id="age" placeholder="Age" required/>
            <input type="text" id="school" placeholder="School" required/>
            <input type="text" id="uni" placeholder="University"required />
            <input type="date" id="dob"  required />
            <input type="email" id="email"placeholder="Email"required>
            <input type="number" id="number"placeholder="Telephone Number"required/>




            <input type="button" name="next" class="next action-button" value="Next" />
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Basic Information</h2>
            <h3 class="fs-subtitle">Step 2</h3>
            <textarea rows="4" cols="50" id="weak" placeholder="Weaknesses" required></textarea>
            <textarea rows="4" cols="50" id="strength" placeholder="Strengths" required></textarea>
            <input type="text" name="twitter" id = "idlcompany" placeholder="Ideal Company"required />
            <textarea rows="4" cols="50" id="ftech" placeholder="Familiar Technologies"required></textarea>

            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Project Details</h2>
            <h3 class="fs-subtitle">Step 3</h3>
            <hr><br>
            <h3 class="fs-subtitle">Project One</h3>
            <input type="text" name="fname" id="pro1" placeholder="Project Name" required/>
            <h4 class="fs-subtitle">Technologies Used</h4><br>
            <input class="container" type="checkbox" id="t1b1" name="technology" value="Java"> Java
            <input class="container" type="checkbox" id="t1b2" name="technology" value="Python" checked> Python
            <input class="container" type="checkbox" id="t1b3" name="technology" value="AngularJS" checked>AngularJS<br>

            <hr><br>
            <h3 class="fs-subtitle">Project Two </h3>
            <input type="text" name="fname" id="pro2" placeholder="Project Name"required />
            <h4 class="fs-subtitle">Technologies Used</h4><br>
            <input class="container" type="checkbox" id="t2b1" name="technology" value="Java"> Java
            <input class="container" type="checkbox" id="t2b2" name="technology" value="Python" checked> Python
            <input class="container" type="checkbox" id="t2b3" name="technology" value="AngularJS" checked>AngularJS<br>

            <hr><br>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" onclick="cvDetail()" />
          </fieldset>
        </form>

    <!-- Plugin JavaScript -->
        <script type="text/javascript" src="../static/vendor/jquery.min.js"></script>
        <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>

    <script type="text/javascript" src="../static/js/cv.js"></script>
    <script>
      function cvDetail(){
        var fullname = document.getElementById("name").value;
        var userage = document.getElementById("age").value;
        var userschool = document.getElementById("school").value;
        var useruni = document.getElementById("uni").value;
        var userdob = document.getElementById("dob").value;
        var useremail = document.getElementById("email").value;
        var usernumber = document.getElementById("number").value;

        console.log(fullname);
        console.log(userage);
        console.log(userschool);
        console.log(useruni);
        console.log(userdob);
        console.log(useremail);
        console.log(usernumber);

        var weakness = document.getElementById("weak").value;
        var strength = document.getElementById("strength").value;
        var idlcomp = document.getElementById("idlcompany").value;
        var famtech = document.getElementById("ftech").value;

        console.log(weakness);
        console.log(strength);
        console.log(idlcomp);
        console.log(famtech);

        var proone = document.getElementById("pro1").value;
        var protwo = document.getElementById("pro2").value;
        console.log(proone);
        console.log(protwo);

        var tech1 = ""
        var tech2 = ""

        if( document.getElementById("t1b1").checked == true)
        {
            console.log("print checked1")
            var val = "java"
            tech1 = tech1.concat(",",val)
        }
        if( document.getElementById("t1b2").checked == true)
        {
            console.log("print checked2")
            var val = "python"
            tech1 = tech1.concat(",",val)
        }
        if( document.getElementById("t1b3").checked == true)
        {
            console.log("print checked3")
            var val = "angularjs"
            tech1 = tech1.concat(",",val)
        }
        tech1 = tech1.substr(1);
        console.log(tech1)


        if( document.getElementById("t2b1").checked == true)
        {
            console.log("print checked4")
            var val2 = "java"
            tech2 = tech2.concat(",",val2)
        }
        if( document.getElementById("t2b2").checked == true)
        {
            console.log("print checked5")
            var val2 = "python"
            tech2 = tech2.concat(",",val2)
        }
        if( document.getElementById("t2b3").checked == true)
        {
            console.log("print checked6")
            var val2 = "angularjs"
            tech2 = tech2.concat(",",val2)
        }
        tech2 = tech2.substr(1);
        console.log(tech2)

        $.post("/cvdata", {
            flname : fullname,
            uage : userage,
            uschool : userschool,
            uuni : useruni,
            udob : userdob,
            uemail : useremail,
            utpno : usernumber,
            uweak : weakness,
            ustrength : strength,
            uidcomp : idlcomp,
            ufmtech : famtech,
            uproone : proone,
            utech1 : tech1,
            uprotwo : protwo,
            utech2 : tech2

        });






      }
    </script>

    </body>
</html>